*{
    font-family: 'Courier New';
}

h3 {
    color: purple;
}

h1 {
    color: #b92b27;
}

#login {
    background-color: white;
}

#signup {
    background-color: #b92b27;
    color: white;
}

.upvote {
    background-color: green;
    color: aliceblue;
}

/*Descendant Selector*/
p a {
    color: purple;
    background-color: yellow;
}

nav ul li a {  /*or nav a*/
    color: hotpink;
}

/*sibling combinator*/
p + h3 {
    text-decoration: underline;
} 

.upvote + button {
    background-color: cornflowerblue;
    color: darkblue;
}

/*child combinator*/
div > input {
    background-color: darksalmon;
}

/* Attribute Selector*/
input[type="text"] {
    color: red;
}

input[type="password"] {
    color: green;
}