#container {
    height: 300px;
    width: 80%;
    background-color: azure;
    border: 2px solid red;
    position: relative;
    left: 10%;
    color: ivory;
    display: flex;  
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
}

h1 {
    text-align: center;
}


#orange {
    background-color: orange;
    align-self: flex-start;
    /* flex-basis: 300px; */
    /* flex-grow: 1; */
    flex-shrink: 1;
}

#blue {
    background-color: blue;
    /* flex-basis: 400px; */
    /* flex-grow: 2;
    max-width: 400px; */
    flex-shrink: 2;
}

#violet {
    background-color: violet;
}

#black {
    background-color: black;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#container div  {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}