.box {
    height: 100px;
    width: 300px;
    background-color: pink;

    /* animation-name: fontAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: normal; */

    /* animation-name: colorAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: normal; */

    /* animation-name: widthAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: normal; */

    animation: widthAnimate 2s ease-in-out 1s infinite normal;
}

@keyframes widthAnimate {
    from {
        width: 10px;
        background-color: green;
        font-size: 20px;
    }
    to {
        width: 400px;
        background-color: blue;
        font-size: 40px;
        border-radius: 20px;
    }
}


/* @keyframes fontAnimation {
    from {
        font-size: 20px;
    }
    to {
        font-size: 40px;
    }
} */

/* @keyframes colorAnimate {
    from {
        background-color: green;
    }
    to {
        background-color: blue;
    }
} */

